<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Document</title>
    <script src="../function/Main.js" type="module"></script>
</head>
<style>
    .hide-completed .is-completed,
    .hide-todo .todo:not(.is-completed){
        display: none !important;
    }
</style>
<body>
    <section class="container pt-5 mx-auto" id="contain" style="width: 60vw;">
        <!-- <form action="" class="d-flex pb-4">
            <input type="text" required="false" class="form-control" placeholder="Ajouter le menu...">
            <button class="btn btn-primary">Ajouter</button>
        </form>

        <main>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Toutes</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">A Faire</label>


                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Faites</label>
            </div>

            <div class="todo-list my-3 shadow rounded">
                <ul class="list-group bg-dark">
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <input type="checkbox" class="form-check-input" id="todo" autocomplete="off" checked>
                        <label class="todo-checkbox w-100 mx-2 fs-5">voila</label>
                        <button class="btn btn-danger delete"><i class="bi bi-trash me-0" ></i></button>
                    </li>
                    <li class="list-group-item d-flex align-items-center mb-1">
                        <input type="checkbox" class="form-check-input" id="todo" autocomplete="off" checked>
                        <label class="todo-checkbox w-100 mx-2 fs-5">voila</label>
                        <button class="btn btn-danger delete"><i class="bi bi-trash me-0" ></i></button>
                    </li>

                </ul>
            </div>
        </main> -->

    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>
</body>

</html>
